@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
$backgroundColor:#495464;
$secondaryColor:#BBBFCA;
$tertiaryColor:#E8E8E8;
$fourColor:#F4F4F2;
$letterColor:#F3F1F5;
$fontFamily:'Raleway', sans-serif;
